

   <div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a class="btn btn-md btn-primary" href="/studentes">Back</a>
            <hr>
            <div class="card">
                <div class="card-body">
                    <img style="width:80% ;" src="http://localhost:5050/assets/uploads/<%= students.photo %> " alt="">
                    <h2><%= students.name %> </h2>
                    <p><%= students.email %> </p>
                </div>
            </div> 
        </div>
    </div>
   </div>
